/*-------------------------------------------------
  Author:	Jamie Ratliff
  Email:	jlrat97@yahoo.com
  Created:	2012-02-15
  Description:	Stylesheet for Google Map interface
---------------------------------------------------*/
html, body	{
	height: 100%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	margin: 0;
}
#map	{
	width: 900px;
	height: 700px;
	border: 1px solid #000;
}
